.new-expense{
    width: 50rem;
    /* height: 15rem; */
    background-color: rgb(119, 139, 89);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .new-expense button{
    cursor: pointer;
    padding: 18px 22px;
    border: none;
    border-radius: 15px;
    background-color: rgb(182, 218, 52);
    font-size: 20px;
}

.new-expense button:hover {
  background-color: #84e9bc;
}


@media (min-width:850px) {
  .new-expense{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width:1200px) {
  .new-expense{
    width: 50rem;
  }
}
 
@media (max-width:500px) {
  .new-expense{
   width:20rem;
 } 
} 

/* Expense Form CSS */
.expense-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .expense-form-content label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .expense-form-content input {
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
  }
  
  .button-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  
@media (max-width:850px) {
   .expense-form{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .button-actions{
      justify-content: center;    
      margin-top: 2rem;
   }
}
 
