
.expense-item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #088d5e;
}

.expenseItem-content{
  display: flex;
  flex: 1;
}

.expenseItem-amount {
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  background-color: #40409b;
  border: none;
  padding: .6rem;
  border-radius: 10px;
  }
  
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1.6rem;
    flex: 1;
    margin-left: 30px;
    color: white;
  }

  .delete-icon{
    padding: 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    margin-left: auto;
  }
  

  .delete-icon:hover{
    color: white;
  }

  @media (max-width:500px) {
    .expense-item{
      flex-direction: column;
    }
    .expense-item h2{
      font-size: 1.3rem;
      margin-right: 1rem;
    }
    .fa-solid .fa-trash{
      position: absolute;
      right: 1rem;
      font-size: 1rem;
    }

  }
