.MainContainer {
    padding: 1rem;
    background-color: rgb(10, 142, 208);
    margin: 2rem auto;
    width: 50rem;
    /* width: 90%; */
    border-radius: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  p{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 600;
    color: rgb(38, 38, 33);
  }
  @media (max-width:600px) {
    .MainContainer{
      width: 32rem;
    }
  }
